* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 8px;
    color: #3a3a3a;
    display: flex;
    justify-content: center;
}

// #wrap {
//     // border-radius: 5px;
//     // // width: 940px;
//     // // background-color: white;
//     // padding: 15px 5px;
//     // background-color: #0093E9;
//     // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
// }